<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ThwargLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ThwargLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LauncherGameTimeoutSeconds" value="40" />
    <add key="LauncherGameLoginTime" value="" />
    <add key="HeartbeatWarningTimeoutSeconds" value="10" />
    <add key="HeartbeatFailedTimeoutSeconds" value="30" />
    <add key="RelaunchIntervalSeconds" value="40" />
    <add key="GameCaptionPattern" value="Asheron's Call" />
    <add key="NewGameTitle" value="%ALIAS%-%SERVER%-%CHARACTER%" />
    <add key="NewGameTitleNoChar" value="%ACCOUNT%-%SERVER%" />
    <add key="SessionStatusNone" value="🎻" />
    <add key="SessionStatusStarting" value="=" />
    <add key="SessionStatusRunning" value="✔" />
    <add key="SessionStatusWarning" value="☔" />
    <!-- If there is no game interaction for this long, then kill and restart - warning, character login screen does not get game interaction -->
    <add key="GameInteractionTimeoutSeconds" value="120" />
    <add key="ThreadGameLaunchDelayMs" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AutoUpdateLauncher" value="True" />
  </appSettings>
  <userSettings>
    <ThwargLauncher.Properties.Settings>
      <setting name="SelectedUser" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ACLocation" serializeAs="String">
        <value>C:\Turbine\Asheron's Call\acclient.exe</value>
      </setting>
      <setting name="LastProfileName" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="NeedsUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHelpAtStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSimpleLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SimpleLaunch_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="SimpleLaunch_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SimpleLaunch_ServerHashCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUsedSimpleLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InjectDecal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRelaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckServerStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerCountUrl" serializeAs="String">
        <value>http://treestats.net/player_counts-latest.json</value>
      </setting>
      <setting name="ShowCheckedAccounts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveGameWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RestoreGameWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoLaunchOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NeverKillClients" serializeAs="String">
        <value>False</value>
      </setting>
    </ThwargLauncher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ThwargLauncher.Properties.Settings>
      <setting name="GDLServerListUrl" serializeAs="String">
        <value>http://thwargle.com/thwarglauncher/GDLPublishedServerInfo.xml</value>
      </setting>
      <setting name="ServerMonitorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ACEServerListUrl" serializeAs="String">
        <value>http://thwargle.com/thwarglauncher/ACEPublishedServerInfo.xml</value>
      </setting>
      <setting name="DFServerListUrl" serializeAs="String">
        <value>http://thwargle.com/thwarglauncher/DFPublishedServerInfo.xml</value>
      </setting>
      <setting name="WildWestServerListUrl" serializeAs="String">
        <value>https://raw.githubusercontent.com/acresources/serverslist/master/Servers.xml</value>
      </setting>
    </ThwargLauncher.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Decal.Adapter" publicKeyToken="bd1c8ce002ce221e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.7.5" newVersion="2.9.7.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>