<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AC_Account_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="LauncherGameTimeoutMinutes" value="1"/>
    </appSettings>
    <userSettings>
        <AC_Account_Manager.Properties.Settings>
            <setting name="SelectedUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="AddUsersWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProfileName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChooseProfileWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="HelpWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowHelpAtStart" serializeAs="String">
                <value>True</value>
            </setting>
        </AC_Account_Manager.Properties.Settings>
    </userSettings>
</configuration>